#grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: 10px solid lightseagreen;
  position: relative;
  z-index: 0;
}

#grid div {
  width: 20px;
  height: 20px;
}

.wall {
  background-color: teal;
}

.pac-dot {
  position: relative;
  z-index: 1;
}
.pac-dot:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  background: green;
  width: 4px;
  height: 4px;
  border-radius: 3px;
  z-index: 1;
}

.power-pellet {
  position: relative;
}
.power-pellet:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background-color: green;
  border-radius: 8px;
}

#pacman {
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  background: dodgerblue;
  border: 2px solid darkblue;
  border-radius: 10px;
  transform-origin: center;
  will-change: transform;
  transition: transform 0.2s linear -0s;
}
.pacman-index {
  position: relative;
  z-index: 0;
  /* border: 2px solid red; */
}
.pacman-index:after {
  content: '';
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  /* background: lightgray; */
  z-index: 0;
}
.pacman-deceased {
  background-color: black;
  border-radius: 0 !important;
}

.ghost.scared-ghost {
  background-color: aquamarine;
}
.ghost-index {
  position: relative;
  z-index: 0;
}
.ghost-index:before {
  /* content: ''; */
}

.ghost {
  border: 2px solid;
}

#blinky {
  background-color: red;
  border-color: darkred;
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  transform-origin: center;
  will-change: transform;
  transition: transform 0.2s linear -0s;
}
#pinky {
  background-color: pink;
  border-color: darksalmon;
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  transform-origin: center;
  will-change: transform;
  transition: transform 0.2s linear -0s;
}
#inky {
  background-color: cyan;
  border-color: darkcyan;
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  transform-origin: center;
  will-change: transform;
  transition: transform 0.2s linear -0s;
}
#clyde {
  background-color: yellow;
  border-color: darkorange;
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  transform-origin: center;
  will-change: transform;
  transition: transform 0.2s linear -0s;
}

.container {
  width: 560px;
  margin: 100px auto 0;
}

#grid * {
  box-sizing: border-box;
}

.btn {
  background: salmon;
  padding: 10px 30px;
  border: 4px solid orangered;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  display: none;
}
.btn:hover {
  text-decoration: underline;
}
.btn.visible {
  display: inline-block;
}

.perspective {
  perspective: 1200px;
  transform-style: preserve-3d;
}
.perspective #grid {
  transform: rotateX(30deg);
  perspective: 1200px;
  transform-style: preserve-3d;
  transform-origin: top;
}
.perspective .pacman {
  /* transform: rotateX(-90deg) translateY(-10px); */
  /* border: 1px solid black inset; */
}
